## This file is a general .ucf for the Nexys4 rev B board
## To use it in a project:
## - uncomment the lines corresponding to used pins
## - rename the used signals according to the project

## Clock signal
NET "clk"   LOC = "E3"	| IOSTANDARD = "LVCMOS33";					#Bank = 35, Pin name = IO_L12P_T1_MRCC_35,					Sch name = CLK100MHZ
NET "clk" TNM_NET = sys_clk_pin;
TIMESPEC TS_sys_clk_pin = PERIOD sys_clk_pin 100 MHz HIGH 50%; 

NET "rst" LOC=M17 | IOSTANDARD=LVCMOS33; #IO_L10N_T1_D15_14
NET "boton_CAM" LOC=P17 | IOSTANDARD=LVCMOS33; #IO_L10N_T1_D15_14
NET "boton_video" LOC=P18 | IOSTANDARD=LVCMOS33; #IO_L10N_T1_D15_14

NET "CAM_vsync" CLOCK_DEDICATED_ROUTE = FALSE;
NET "CAM_pclk" CLOCK_DEDICATED_ROUTE = FALSE;
NET "CAM_href" CLOCK_DEDICATED_ROUTE = FALSE;

## VGA Connector
NET "VGA_R<0>"		LOC = "A3"	| IOSTANDARD = "LVCMOS33";		#Bank = 35, Pin name = IO_L8N_T1_AD14N_35,					Sch name = VGA_R0
NET "VGA_R<1>"		LOC = "B4"	| IOSTANDARD = "LVCMOS33";		#Bank = 35, Pin name = IO_L7N_T1_AD6N_35,					Sch name = VGA_R1
NET "VGA_R<2>"		LOC = "C5"	| IOSTANDARD = "LVCMOS33";		#Bank = 35, Pin name = IO_L1N_T0_AD4N_35,					Sch name = VGA_R2
NET "VGA_R<3>"		LOC = "A4"	| IOSTANDARD = "LVCMOS33";		#Bank = 35, Pin name = IO_L8P_T1_AD14P_35,					Sch name = VGA_R3
NET "VGA_B<0>"		LOC = "B7"	| IOSTANDARD = "LVCMOS33";		#Bank = 35, Pin name = IO_L2P_T0_AD12P_35,					Sch name = VGA_B0
NET "VGA_B<1>"		LOC = "C7"	| IOSTANDARD = "LVCMOS33";		#Bank = 35, Pin name = IO_L4N_T0_35,						Sch name = VGA_B1
NET "VGA_B<2>"		LOC = "D7"	| IOSTANDARD = "LVCMOS33";		#Bank = 35, Pin name = IO_L6N_T0_VREF_35,					Sch name = VGA_B2
NET "VGA_B<3>"		LOC = "D8"	| IOSTANDARD = "LVCMOS33";		#Bank = 35, Pin name = IO_L4P_T0_35,						Sch name = VGA_B3
NET "VGA_G<0>"		LOC = "C6"	| IOSTANDARD = "LVCMOS33";		#Bank = 35, Pin name = IO_L1P_T0_AD4P_35,					Sch name = VGA_G0
NET "VGA_G<1>"		LOC = "A5"	| IOSTANDARD = "LVCMOS33";		#Bank = 35, Pin name = IO_L3N_T0_DQS_AD5N_35,				Sch name = VGA_G1
NET "VGA_G<2>"		LOC = "B6"	| IOSTANDARD = "LVCMOS33";		#Bank = 35, Pin name = IO_L2N_T0_AD12N_35,					Sch name = VGA_G2
NET "VGA_G<3>"		LOC = "A6"	| IOSTANDARD = "LVCMOS33";		#Bank = 35, Pin name = IO_L3P_T0_DQS_AD5P_35,				Sch name = VGA_G3
NET "VGA_Hsync_n"			LOC = "B11"	| IOSTANDARD = "LVCMOS33";		#Bank = 15, Pin name = IO_L4P_T0_15,						Sch name = VGA_HS
NET "VGA_Vsync_n"			LOC = "B12"	| IOSTANDARD = "LVCMOS33";		#Bank = 15, Pin name = IO_L3N_T0_DQS_AD1N_15,				Sch name = VGA_BVS


## Pmod Header JD
NET "CAM_xclk"  LOC=H4 | IOSTANDARD=LVCMOS33;
NET "CAM_href"  LOC=H1 | IOSTANDARD=LVCMOS33; #IO_L17P_T2_35
NET "CAM_pclk"    LOC=H2 | IOSTANDARD=LVCMOS33; #IO_L15P_T2_DQS_35
NET "CAM_vsync"    LOC=G4 | IOSTANDARD=LVCMOS33; #IO_L20P_T3_35
NET "CAM_pwdn"    LOC=G1 | IOSTANDARD=LVCMOS33; #IO_L20P_T3_35
NET "CAM_reset"    LOC=G3 | IOSTANDARD=LVCMOS33; #IO_L20P_T3_35

## Pmod Header JC
NET "CAM_px_data<0>" LOC=K1 | IOSTANDARD=LVCMOS33; #IO_L23N_T3_35
NET "CAM_px_data<2>" LOC=F6 | IOSTANDARD=LVCMOS33; #IO_L19N_T3_VREF_35
NET "CAM_px_data<4>" LOC=J2 | IOSTANDARD=LVCMOS33; #IO_L22N_T3_35
NET "CAM_px_data<6>" LOC=G6 | IOSTANDARD=LVCMOS33; #IO_L19P_T3_35
NET "CAM_px_data<1>" LOC=E7 | IOSTANDARD=LVCMOS33; #IO_L19P_T3_35
NET "CAM_px_data<3>" LOC=J3 | IOSTANDARD=LVCMOS33; #IO_L19P_T3_35
NET "CAM_px_data<5>" LOC=J4 | IOSTANDARD=LVCMOS33; #IO_L19P_T3_35
NET "CAM_px_data<7>" LOC=E6 | IOSTANDARD=LVCMOS33; #IO_L19P_T3_35
 
 
## Switches
NET "switch<0>"			LOC = J15	| IOSTANDARD = "LVCMOS33";		#Bank = 34, Pin name = IO_L21P_T3_DQS_34,					Sch name = SW0
NET "switch<1>"			LOC = L16	| IOSTANDARD = "LVCMOS33";		#Bank = 34, Pin name = IO_25_34,							Sch name = SW1
NET "switch<2>"			LOC = M13	| IOSTANDARD = "LVCMOS33";		#Bank = 34, Pin name = IO_L23P_T3_34,						Sch name = SW2

# LEDs
NET "LEDs<0>" LOC=H17 | IOSTANDARD=LVCMOS33; #IO_L18P_T2_A24_15
NET "LEDs<1>" LOC=K15 | IOSTANDARD=LVCMOS33; #IO_L24P_T3_RS1_15
NET "LEDs<2>" LOC=J13 | IOSTANDARD=LVCMOS33; #IO_L17N_T2_A25_15
NET "LEDs<3>" LOC=N14 | IOSTANDARD=LVCMOS33; #IO_L8P_T1_D11_14
NET "LEDs<4>" LOC=R18 | IOSTANDARD=LVCMOS33; #IO_L7P_T1_D09_14
NET "LEDs<5>" LOC=V17 | IOSTANDARD=LVCMOS33; #IO_L18N_T2_A11_D27_14
NET "LEDs<6>" LOC=U17 | IOSTANDARD=LVCMOS33; #IO_L17P_T2_A14_D30_14
NET "LEDs<7>" LOC=U16 | IOSTANDARD=LVCMOS33; #IO_L18P_T2_A12_D28_14
NET "LEDs<8>" LOC=V16 | IOSTANDARD=LVCMOS33; #IO_L16N_T2_A15_D31_14
NET "LEDs<9>" LOC=T15 | IOSTANDARD=LVCMOS33; #IO_L14N_T2_SRCC_14
NET "LEDs<10>" LOC=U14 | IOSTANDARD=LVCMOS33; #IO_L22P_T3_A05_D21_14
NET "LEDs<11>" LOC=T16 | IOSTANDARD=LVCMOS33; #IO_L15N_T2_DQS_DOUT_CSO_B_14
NET "LEDs<12>" LOC=V15 | IOSTANDARD=LVCMOS33; #IO_L16P_T2_CSI_B_14
NET "LEDs<13>" LOC=V14 | IOSTANDARD=LVCMOS33; #IO_L22N_T3_A04_D20_14
NET "LEDs<14>" LOC=V12 | IOSTANDARD=LVCMOS33; #IO_L20N_T3_A07_D23_14
NET "LEDs<15>" LOC=V11 | IOSTANDARD=LVCMOS33; #IO_L21N_T3_DQS_A06_D22_14
